@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Gwendolyn:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
}


body {
  overflow: paged-y;
  background: #212121;
}

.font {
  font-family: 'Gwendolyn', cursive;;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #525252;
  stroke: #d1d1d1;
}

/*------------------------------------------------------------------------------------------------------*/
#menu-mobile {
  display: none;
}

menu {
  z-index: 999;
  width: 100vw;
  background: rgb(33, 33, 33);
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  top: -1;
  right: 0;
  color: #d1d1d1 !important;

  .container {
    .row {
      .col {
        display: flex;
        align-items: end;
        justify-content: end;

        ul {
          list-style: none;
          display: flex;
        }

        li {
          cursor: pointer;
          margin: .5rem;
          padding: .2rem;

          a {
            text-decoration: none;
            color: #d1d1d1;
          }
        }
      }
    }
  }
}

/*------------------------------------------------------------------------------------------------*/

header {
  height: 100vh;
  width: 100vw;
  color: #d1d1d1;
  background-size: cover;
  background-position: bottom;
  background-image: url("img/header.jpg");
  background-attachment: fixed;

  .container {
    height: 100%;

    .row {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .text-left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}

/*--------------------------------------------------------------------------*/

.about {
  padding: 25px;
  color: #d1d1d1;

  .container {
    height: 100%;

    .row {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      #perfil {
        background: url("img/perfil.jpg");
        background-size: cover;
      }

      .icons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 3.5rem;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3.5rem;

          a {
            font-size: 2rem;
            text-decoration: none;
            color: #d1d1d1;
            transition: .3s;
          }

          a:hover {
            font-size: 3rem;
            transition: .3s;
          }
        }

      }
    }
  }
}

/*--------------------------------------------------------------------------*/
.portfolio {
  max-width: 99vw;
  height: 100vh;

  .container {
    max-width: none;
      height: 100%;
      width: 100%;
    .row {
      height: 50%;

      .col-3 {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: .4s;
      }

      .col-3:hover {
        transition: .4s;
        transform: scale(1.1);
        border-radius: 5px;
        z-index: 50 !important;
      }
    }
  }
}

.contact {
  height: 70vh;

  .container {
    height: 100%;

    .row {
      height: 100%;

      .form {
        padding: 20px;
        border-radius: 5px;
        background: #313131 !important;
        h2{
          text-align: center;
          color: #d1d1d1;
        }
        .input-group > input{
          background: #525252;
          color: #d1d1d1;
          border: 1px solid #212121;
        }

        .btn{
          width: 100%;
          color: #d1d1d1;
          background: #212121!important;
        }
        label{
          color: rgba(209, 209, 209, 0.68);
        }
      }
    }
  }
}

/*---------------------------------------------------*/

footer {
  height: 30vh;
  background: rgb(3, 3, 3);
  background: linear-gradient(54deg, rgba(3, 3, 3, 1) 0%, rgba(33, 33, 33, 1) 100%);

  .container {
    height: 100%;

    .row {
      height: 100%;
    }
  }
}

footer:before {
  content: '';
  background: #151515;
  height: 20px;
  width: 100%;
  display: block;
  position: absolute;
  border-bottom: 7px solid #212121;
}

/*--------------------------------------------*/
#img-1 {
  background-image: url("img/1.jpg");
}

#img-2 {
  background-image: url("img/2.jpg");
}

#img-3 {
  background-image: url("img/3.jpg");
}

#img-4 {
  background-image: url("img/4.jpg");
}

#img-5 {
  background-image: url("img/5.jpg");
}

#img-6 {
  background-image: url("img/6.jpg");
}

#img-7 {
  background-image: url("img/7.jpg");
}

#img-8 {
  background-image: url("img/8.jpg");
}

/*---------------------------------------------------*/

@media (max-width: 600px) {
  menu {
    display: none;
  }
  #menu-mobile {
    display: block;
    z-index: 999;
    width: 100vw;
    background: rgb(33, 33, 33);
    background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: fixed;
    top: -1;
    right: 0;
    color: #d1d1d1 !important;

    .button {
      width: 40px;
      padding: 10px!important;
      margin: 5px!important;

      .bar {
        height: 5px;
        width: 40px;
        background: #d1d1d1;
        margin-bottom: 5px;
        transition: .3s;
      }
      .bar-1{
        height: 5px;
        width: 40px;
        background: #d1d1d1;
        margin-bottom: 5px;
        transition: .3s;
      }
      .bar-2{
        height: 5px;
        width: 40px;
        background: #d1d1d1;
        margin-bottom: 5px;
        transition: .3s;
      }
      .bar-3{
        height: 5px;
        background: #d1d1d1;
        margin-bottom: 5px;
        transition: .3s;
        width: 25px;
      }
      .bar-1-1{
        height: 5px;
        width: 40px;
        transform: rotate(45deg) translate3d(7px,7px,0);
        background: red;
        margin-bottom: 5px;
        transition: .3s;
      }
      .bar-2-1{
        opacity: 0;
        transition: .3s;
      }
      .bar-3-1{
        height: 5px;
        background: #d1d1d1;
        transform: rotate(-45deg);
        margin-bottom: 5px;
        transition: .3s;
        width: 40px;
      }
    }
  }
}

@keyframes menu {
  0%{

  }
  100%{

  }
}